/* settings for tags */
html {
  position: relative;
  min-height: 100%; }

body {
  color:black;
  background-color:black;
  background-image:url(sans.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  margin-bottom: 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

header {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #222;
  border-top: 1px solid;
  border-color: #d35400; }

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #ddd;
  background-color: #222;
  border-top: 1px solid;
  border-color: #0054d3; }

h1 {
  color: #ddd;
  border-color: #0054d3;
  font-size: 4em;
  margin-bottom: 0.5em; }

h4 {
  color: #ddd;
  font-size: 1em;
  margin-bottom: 1em; }

/*.btn {
  background-color: #444444;
  color: #d35400;
  border-color: #d35400;
  border: 1px solid; }
  .btn:hover {
    background-color: #444444;
    border-color: #d35400; 
    color: #d35400; }
    */

.col-md-2 {
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.text {
  color: #d35400; }
  .text a {
    color: #d35400;
    text-decoration: underline; }